a {
	text-decoration: none;}
section {
	display: inline-block;
	background-color: #d1e0e0;
	padding: 10px;
	margin: 10px;
}
.row div {
	display: inline-block;
}
#header-nav {
	background-color: #005580;
	border-radius: 0;
	border: 2px solid black;

}
.navbar-brand h1 {
	color: #b3e6ff;
	margin: 20px;
	font-size: 1.5em;
	font-weight: bold;
    text-shadow: 1px 1px 1px #181818;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #b3e6ff;
}
#nav-list li {
	font-size: 1.5em;
	font-color: #b3e6ff;
}
/********** Large devices only **********/
@media (min-width: 1200px) {

}
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  
  /* End Header */
}